<template>
  <div class="carousel__buttons">
    <button class="carousel__buttons__btn">SHOP WOMENS</button>
    <button class="carousel__buttons__btn">SHOP MENS</button>
  </div>
</template>
<script>
import { defineComponent } from "@vue/composition-api";

export default defineComponent({});
</script>
<style lang="scss">
.carousel__buttons {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 3rem 0;
  &__btn {
    color: #e3e3e3;
    width: 15rem;
    padding: 0.5rem 2rem;
    border: 2px solid #e3e3e3;
    outline: none;
    background: none;
  }
}
</style>
