<template>
  <div class="carousel__caption">
    <h1>SPRING 2019</h1>
    <h6>Lorem ipsum dolor sit amet, consectetur</h6>
  </div>
</template>

<script>
import { defineComponent } from "@vue/composition-api";
export default defineComponent({});
</script>

<style lang="scss">
.carousel__caption {
  color: #e3e3e3;
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;
}
</style>
