<template>
  <transition :name="animation" mode="in-out">
    <div v-show="isActive" class="carousel__slide">
      <slot></slot>
    </div>
  </transition>
</template>

<script>
import { computed, defineComponent } from "@vue/composition-api";

export default defineComponent({
  props: {
    index: {
      required: true,
      type: Number
    },
    activeSlide: {
      required: true,
      type: Number
    },
    animation: {
      type: String,
      required: true
    }
  },
  setup(props) {
    const isActive = computed(() => props.index === props.activeSlide);

    return { isActive };
  }
});
</script>

<style lang="scss">
.carousel__slide {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.left-enter-active {
  animation: leftEnter 0.5s ease-in-out;
}
.left-leave-active {
  animation: leftLeave 0.5s ease-in-out;
}
.right-enter-active {
  animation: rigthEnter 0.5s ease-in-out;
}
.right-leave-active {
  animation: rightLeave 0.5s ease-in-out;
}

@keyframes leftEnter {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes leftLeave {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes rightEnter {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes rightLeave {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
</style>
