<template>
  <div class="carousel__loader">
    <div class="carousel__loader__bar" :style="`width: ${curVal}%`"></div>
  </div>
</template>

<script>
import { defineComponent } from "@vue/composition-api";
export default defineComponent({
  props: {
    curVal: {
      type: Number,
      required: true
    }
  }
});
</script>

<style lang="scss" scoped>
.carousel__loader {
  top: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 5px;
  background: none;
  &__bar {
    height: 100%;
    background-color: #e9e9e9;
    transition: width 0.5s;
  }
}
</style>
