<template>
  <div class="carousel-indicator" @click="$emit('change-slide', index)">
    <FaIcon icon="circle" :class="{ active: isActive }" />
  </div>
</template>

<script>
import { computed, defineComponent } from "@vue/composition-api";

export default defineComponent({
  props: {
    activeSlide: {
      type: Number,
      required: true
    },
    index: {
      type: Number,
      required: true
    }
  },
  setup(props) {
    const isActive = computed(() => props.activeSlide === props.index);
    return { isActive };
  }
});
</script>
<style lang="scss">
.carousel__indicators {
  .active {
    opacity: 0.7;
  }
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 20%;
  bottom: 10%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, 0);
  color: #e3e3e3;
}
</style>
