<template>
  <div class="carousel" @mouseover="pauseTimer" @mouseleave="resumeTimer">
    <CarouselTimeIndicator :cur-val="counter" />
    <slot></slot>
    <div class="carousel__indicators">
      <slot name="indicators"></slot>
    </div>
    <button class="carousel__btn next" @click="changeSlide('next')">
      <FaIcon icon="chevron-right" />
    </button>
    <button class="carousel__btn" @click="changeSlide('prev')">
      <FaIcon icon="chevron-left" />
    </button>
    <div class="carousel__middle-section">
      <slot name="caption-and-btns"> </slot>
    </div>
  </div>
</template>

<script>
import { watch, onMounted, ref, defineComponent } from "@vue/composition-api";
import CarouselTimeIndicator from "@/components/CarouselTimeIndicator.vue";
export default defineComponent({
  components: {
    CarouselTimeIndicator
  },
  props: {
    activeSlide: {
      type: Number,
      required: true
    }
  },
  setup(props, { emit }) {
    const changeSlide = dirrection => emit(dirrection);
    let interval = null;
    const counter = ref(0);

    watch(
      () => props.activeSlide,
      () => {
        clearInterval(interval);
        counter.value = 0;
        _setInterval();
      }
    );

    const _setInterval = () => {
      interval = setInterval(() => {
        counter.value++;
        counter.value < 100 || (counter.value = 100 && changeSlide("next"));
      }, 100);
    };

    const pauseTimer = () => clearInterval(interval);
    const resumeTimer = () => _setInterval();

    onMounted(() => _setInterval());

    return {
      changeSlide,
      counter,
      resumeTimer,
      pauseTimer
    };
  }
});
</script>

<style lang="scss">
.carousel {
  position: relative;
  width: 1000px;
  height: 600px;
  overflow: hidden;
  &__timer {
    position: absolute;
    top: 5px;
    left: 15px;
    z-index: 100;
    color: yellow;
  }
  &__btn {
    position: absolute;
    background: none;
    border: none;
    top: 50%;
    transform: translate(0, -50%);
    outline: none;
    cursor: pointer;
    margin: 0 0.5rem;
    z-index: 101;
    &.next {
      right: 0;
    }
    svg {
      color: #e4e4e4;
      font-size: 1.5rem;
    }
  }
  &__middle-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 80%;
    height: 40%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}
</style>
