<template>
  <div class="main-container">
    <Carousel @next="nextSlide" @prev="prevSlide" :active-slide="activeSlide">
      <CarouselSlide
        v-for="slide of 4"
        :key="slide"
        :animation="animationDirection"
        :index="slide"
        :active-slide="activeSlide"
      >
        <img
          :src="require(`@/static/slides/${slide}.jpg`)"
          width="1000"
          height="600"
        />
      </CarouselSlide>
      <template v-slot:caption-and-btns>
        <CarouselCaption />
        <CarouselButtons />
      </template>
      <template v-slot:indicators>
        <CarouselIndicator
          v-for="slide of 4"
          :key="slide"
          :index="slide"
          :active-slide="activeSlide"
          @change-slide="changeSlide"
        />
      </template>
    </Carousel>
  </div>
</template>

<script>
import { ref, defineComponent } from "@vue/composition-api";
import Carousel from "@/components/Carousel.vue";
import CarouselSlide from "@/components/CarouselSlide.vue";
import CarouselIndicator from "@/components/CarouselIndicator.vue";
import CarouselButtons from "@/components/CarouselButtons.vue";
import CarouselCaption from "@/components/CarouselCaption.vue";

export default defineComponent({
  components: {
    Carousel,
    CarouselSlide,
    CarouselIndicator,
    CarouselButtons,
    CarouselCaption
  },
  setup() {
    const animationDirection = ref("left");
    const lastSlideIndex = 4;
    const activeSlide = ref(1);

    const nextSlide = () => {
      activeSlide.value >= lastSlideIndex
        ? (activeSlide.value = 1)
        : activeSlide.value++;
      animationDirection.value = "left";
    };

    const prevSlide = () => {
      activeSlide.value <= 1
        ? (activeSlide.value = lastSlideIndex)
        : activeSlide.value--;
      animationDirection.value = "right";
    };
    const changeSlide = index => {
      animationDirection.value = activeSlide.value > index ? "right" : "left";
      activeSlide.value = index;
    };

    return {
      changeSlide,
      activeSlide,
      nextSlide,
      prevSlide,
      animationDirection
    };
  }
});
</script>

<style lang="scss">
.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
</style>
